body {
  background-color: rgb(45, 179, 166);
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  color: white;
}

#message {
  border: none;
  width: 1085px;
  height: 20px;
  margin-left: 1%;
  resize: none;
  padding: 15px 10px;
  color: white;
  font-size: 14pt;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(50, 220, 210);
}

#display-messages {
  height: 500px;
  width: 1200px;
  overflow: auto;
  background-color: rgb(50, 220, 210);
  margin-left: 1%;
}

#send-message {
  background-color: rgb(50, 200, 190);
  font-family: 'Poppins', sans-serif;
  font-size: 13pt;
  color: white;
  border: none;
  padding: 12px 20px;
  float: right;
  margin-right: 14.75%;
}

h3 {
  margin-left: 1%;
  color: white;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-left: 1%;
}
