body {
  background-color: lightblue
}

h1 {
  font-family: Raleway;
  font-size: 50px;
  border-style: solid;
  background-color: turquoise;
  border-top-color: cyan;
  border-bottom-color: rgb(87, 179, 181);
  border-left-color: turquoise;
  border-right-color: turquoise;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

p {
  font-family: Raleway;
  font-size: 16pt;
  text-align: center;
}

td {
  font-family: Raleway;
}

input {
  font-family: Raleway;
  font-size: 14pt;
  background-color: turquoise;
  border: none;
  color: white;
  padding: 14px 15px;
}

button {
  font-family: Raleway;
  font-size: 15pt;
  border: none;
  color: white;
  background-color: turquoise;
  padding: 15px 20px;
}
